<table class="table dataTable" data-sortable data-initial-lenght="25" data-pageLenght="25" data-order-column="1" data-lenght-menu-auto="false" data-lenght-menu="100,75,50,25,10" data-order="asc" data-paging="true">
    <thead>
    <tr>
        <th scope="col">Connector</th>
        <th scope="col">Support status</th>
        <th scope="col">Maintained by (Origin)</th>
        <th scope="col">Target systems</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    {% assign cpages = include.pages | sort: "display-order" %}
    {% for cpage in cpages %}
    <tr>
        <td  scope="row"><a href="{{cpage.url}}">{{cpage.title}}</a></td>
        <td>{{cpage.support-status}}</td>
        <td>{{cpage.support-provided-by}}<br>({{cpage.origin}})</td>
        <td>{{cpage.target-systems}}</td>
        <td>{{cpage.description | escape}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
